<html>
<head>
  <title>User Page</title>
</head>
<body>
  <div id="topBar">
    <div class="center">
      <div id="trender"><em>Trender</em></div>
      <img src="http://www.designbolts.com/wp-content/uploads/2014/12/Rabbit-Logomark-Logo-Design-Trend-2015.jpg" />
      <div class="linker">Log Out</div>
    </div>
  </div>
  <div id="picker">
    <% @location.each do |x| %>
      <ul>
        <li><%= x.city_name %></li>
      </ul>
    <% end %>
  </div>
</body>
</html>
