<html>
<head>
  <title>User Page</title>
</head>
<body>
  <div id="topBar">
    <div class="center">
      <div id="trender"><em>Trender</em></div>
      <img src="http://www.designbolts.com/wp-content/uploads/2014/12/Rabbit-Logomark-Logo-Design-Trend-2015.jpg" />
      <div class="linker">Log Out</div>
    </div>
  </div>

  <form action="">

  <input list="locations" name="locations">
  <datalist id="locations">
    <% @location.each do |x| %>
      <option value="Internet Explorer">
      <option value="Firefox">
      <option value="Chrome">
      <option value="Opera">
      <option value="Safari">
    <% end %>
  </datalist>
  <input type="submit">
  </form>

</body>
</html>
