<html>
<head>
	<title>Home</title>
</head>
<body>
	<div id="header">
		<div class="center">
			<img src="http://www.designbolts.com/wp-content/uploads/2014/12/Rabbit-Logomark-Logo-Design-Trend-2015.jpg" />
			<h2>See what's happening right now</h2><br />
			<h5>News from your community</h5>
		</div>
	</div>
	<div id="navBar">
		<div class="center">
			<% if current_user.nil? %>
				<%= render 'login' %>
			<% end %>
	</div>
	<div class="feeder">
		<div class="center">
			<% @woeid.each do |x| %>
				<div class="feeds">
					<span class="city_name"><%= x.city_name %></span><br />
				    <% @feed.each do |x| %>
					    <ul class="trend_names">
					    	<li><%= x.name %></li>
					    </ul>
				    <% end %>
				</div>
			<% end %>
		</div>
	</div>
	<div id="footer">

	</div>
</body>
</html>