<!DOCTYPE html>
<html>
<head>
  <title>TwitterTrendr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<footer>
    <p>
      twitterTrender was built by Jacob Smergel and William E. Bolton, PhD. using Twitter's "REST" api.
    </p>
  </footer>
</body>
</html>
